@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playball&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #277da1;
  color: #277da1;
  font-family: 'Lato', sans-serif;
}

button{
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  border-radius: 4px;
}

.wrapper .content {
  padding: 30px;
  text-align: center;
}

.content .title {
  font-size: 2em;
  letter-spacing: 1px;
}

.content .quote-wrapper {
  padding: 40px 0;
}

.content .quote-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-quote {
  position: relative;
}

.content .quote {
  font-family: 'Playball', cursive;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 2rem;
  letter-spacing: 2px;
}

.content .author {
  font-family: 'Lato', sans-serif;
  display: block;
  font-size: 1rem;
  padding: 15px 0;
}

.content .option {
  padding: 8px;
  margin-left: 5px;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: #eee;
  border: 1px solid #000;
}

.content .option:hover {
  background-color: #ddd;
  border: 1px solid #000;
}

.content .option:active {
  background-color: #ddd;
  border: 1px solid #ddd;
}

.content .option.copy {
  display: none;
  position: absolute;
  top: 15px;
  left: 50%;
}

.content .top-quote:hover .quote {
  background-color: #eee;
  opacity: .5;
}

.content .top-quote:hover .option.copy {
  display: block;
}

.content .quote-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .quote-footer .footer-subtitle {
  font-size: 1.75em;
}

.content .social-btn {
  padding: 0;
  margin-left: 10px;
  font-size: 2.5em;
  background-color: #fff;
  text-decoration: none;
}

.social-btn .fb-icon,
.social-btn:visited .fb-icon {
  color: #3b5998;
}

.social-btn .tw-icon,
.social-btn:visited .tw-icon {
  color: #00acee;
}

.content .social-btn .fab:hover {
  color: #ccc;
}

